* {
  box-sizing: border-box;
}

html {
  font-family: OpenSans, sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100vh;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: normal;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: underline;
  }
}

button {
  font-family: inherit;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 48px;
  padding: 10px 15px;
  text-align: center;
  letter-spacing: normal;
  transition: all 0.2s ease-in-out 0s;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: rgb(12, 108, 242);
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(12, 108, 242);
   &:hover {
    border-color: rgb(10, 86, 193);
    background-color: rgb(10, 86, 193);
   }
  * {
    pointer-events: none;
  }
}

input {
  font-family: inherit;
  text-align: inherit;
}

// MAC like scrollbar
::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(0, 0, 0, 0);
  -webkit-border-radius: 100px;
}

::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:vertical {
  background: rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 100px;
}

::-webkit-scrollbar-thumb:vertical:active {
  -webkit-border-radius: 100px;
}

ul {
  list-style: none;
}
